<launch>
    <arg name="namespace" default="pyro" />
    <group ns="$(arg namespace)">
        <node pkg="mrpt_localization" type="mrpt_localization_node" name="mrpt_localization_node" output="screen">
            <param name="ini_file" value="$(find grid_localization)/cfg/pf-localization_pyro.ini"/>
            <!-- <param name="map_file" value="$(find grid_localization)/cfg/mymap.gridmap"/> -->
            <param name="odom_frame_id" value="/$(arg namespace)/odom"/>
            <param name="global_frame_id" value="/map"/>
            <param name="base_frame_id" value="/$(arg namespace)/base_link"/>
            <param name="map_update_skip" value="20"/>
            <param name="particlecloud_update_skip" value="1"/>
            <param name="tf_prefix" value=""/>
            <param name="debug" value="true"/>
            <param name="gui_mrpt" value="true"/>
            <param name="sensor_sources" value="hardware/scan"/>
            <remap from="particlecloud" to="hardware/particlecloud"/>
        </node>
    </group>
</launch>
