<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find gazebo_sim_launch)/worlds/field2015_sixRobots.world"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="false"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
    </include>

    <env name="ROSCONSOLE_FORMAT" value="[${node}]:${message}"/>

<!-- Pyro TEAM -->
    <!-- Team Namespace -->
    <group ns="PYRO">
        <param name="machineLocation/robot1" value="robotino1" />
        <param name="machineLocation/robot2" value="robotino2" />
        <param name="machineLocation/robot3" value="robotino3" />
        <param name="machineLocation/centralizedManager" value="" />
    </group>
    <!-- Robotino Pyro 1 -->
    <group ns="robotino1">
        <param name="teamName" value="PYRO" />
        <param name="teamColor" value="cyan" />
        <param name="robotNumber" value="1" />
        <param name="robotName" value="R1" />
        <param name="simuRobotNamespace" value="robotino1" />

        <!-- Load the gazebo_to_ros node -->
        <node pkg="gazebo_to_ros" name="gazebo_to_ros" type="gazebo_to_ros_node"/>
        <!-- Load the tf_broadcaster node -->
        <node pkg="tf_broadcaster" name="tf_broadcaster" type="tf_broadcaster_node"/>
        <!-- Load the fakeSimLightDetection node -->
        <node pkg="feu_tricolore" name="simLightDetection" type="sim_light_detection"/>
    </group>
    <!-- Robotino Pyro 2 -->
    <group ns="robotino2">
        <param name="teamName" value="PYRO" />
        <param name="teamColor" value="cyan" />
        <param name="robotNumber" value="2" />
        <param name="robotName" value="R2" />
        <param name="simuRobotNamespace" value="robotino2" />

        <!-- Load the gazebo_to_ros node -->
        <node pkg="gazebo_to_ros" name="gazebo_to_ros" type="gazebo_to_ros_node"/>
        <!-- Load the tf_broadcaster node -->
        <node pkg="tf_broadcaster" name="tf_broadcaster" type="tf_broadcaster_node"/>
        <!-- Load the fakeSimLightDetection node -->
        <node pkg="feu_tricolore" name="simLightDetection" type="sim_light_detection"/>
    </group>
    <!-- Robotino Pyro 3 -->
    <group ns="robotino3">
        <param name="teamName" value="PYRO" />
        <param name="teamColor" value="cyan" />
        <param name="robotNumber" value="3" />
        <param name="robotName" value="R3" />
        <param name="simuRobotNamespace" value="robotino3" />

        <!-- Load the gazebo_to_ros node -->
        <node pkg="gazebo_to_ros" name="gazebo_to_ros" type="gazebo_to_ros_node"/>
        <!-- Load the tf_broadcaster node -->
        <node pkg="tf_broadcaster" name="tf_broadcaster" type="tf_broadcaster_node"/>
        <!-- Load the fakeSimLightDetection node -->
        <node pkg="feu_tricolore" name="simLightDetection" type="sim_light_detection"/>
    </group>

<!-- Opposing TEAM -->
    <!-- Team namespace -->
    <group ns="OPPOSING">
        <param name="machineLocation/robot1" value="opposing1" />
        <param name="machineLocation/robot2" value="opposing2" />
        <param name="machineLocation/robot3" value="opposing3" />
        <param name="machineLocation/centralizedManager" value="" />
    </group>
    <!-- Robotino Opposing 1 -->
    <group ns="opposing1">
        <param name="teamName" value="OPPOSING" />
        <param name="teamColor" value="magenta" />
        <param name="robotNumber" value="1" />
        <param name="robotName" value="O1" />
        <param name="simuRobotNamespace" value="opposing1" />

        <!-- Load the gazebo_to_ros node -->
        <node pkg="gazebo_to_ros" name="gazebo_to_ros" type="gazebo_to_ros_node"/>
        <!-- Load the tf_broadcaster node -->
        <node pkg="tf_broadcaster" name="tf_broadcaster" type="tf_broadcaster_node"/>
        <!-- Load the fakeSimLightDetection node -->
        <node pkg="feu_tricolore" name="simLightDetection" type="sim_light_detection"/>
    </group>
    <!-- Robotino Opposing 2 -->
    <group ns="opposing2">
        <param name="teamName" value="OPPOSING" />
        <param name="teamColor" value="magenta" />
        <param name="robotNumber" value="2" />
        <param name="robotName" value="O2" />
        <param name="simuRobotNamespace" value="opposing2" />

        <!-- Load the gazebo_to_ros node -->
        <node pkg="gazebo_to_ros" name="gazebo_to_ros" type="gazebo_to_ros_node"/>
        <!-- Load the tf_broadcaster node -->
        <node pkg="tf_broadcaster" name="tf_broadcaster" type="tf_broadcaster_node"/>
        <!-- Load the fakeSimLightDetection node -->
        <node pkg="feu_tricolore" name="simLightDetection" type="sim_light_detection"/>
    </group>
    <!-- Robotino Opposing 3 -->
    <group ns="opposing3">
        <param name="teamName" value="OPPOSING" />
        <param name="teamColor" value="magenta" />
        <param name="robotNumber" value="3" />
        <param name="robotName" value="O3" />
        <param name="simuRobotNamespace" value="opposing3" />

        <!-- Load the gazebo_to_ros node -->
        <node pkg="gazebo_to_ros" name="gazebo_to_ros" type="gazebo_to_ros_node"/>
        <!-- Load the tf_broadcaster node -->
        <node pkg="tf_broadcaster" name="tf_broadcaster" type="tf_broadcaster_node"/>
        <!-- Load the fakeSimLightDetection node -->
        <node pkg="feu_tricolore" name="simLightDetection" type="sim_light_detection"/>
    </group>

</launch>
