<launch>
    <include file="$(find grid_maker)/launch/grid_maker.launch"/>

    <param name="navigation/pathFinder/aStarTieBreaking" value="true" />
    <param name="navigation/pathFinder/weightData" value="0.45" />
    <param name="navigation/pathFinder/weightSmooth" value="0.45" />
    <node pkg="path_finder" name="path_finder_node" type="path_finder_node" output="screen">
        <remap from="map" to="grid"/>
    </node>

    <node pkg="path_finder" name="pathRequest_node" type="pathRequest_node.py" output="screen"/>

</launch>
