<launch>
	<group ns="approchefinale1">
		<!-- to use ROS_DEBUG -->
		<env name="ROSCONSOLE_CONFIG_FILE" value="$(find docking)/cfg/custom_rosconsole.conf"/>
		<!--if cyan then teamColor = 0, if magenta then teamColor = 1-->
	    <param name="teamColor" value="cyan" />
	    <node pkg="docking" name="docking_node" type="docking_node" launch-prefix="ddd --args"/>
	</group>
</launch>
