<launch>

    <include file="$(find refbox_comm)/launch/refBoxComm.launch"/>

    <include file="$(find executeur_taches)/launch/exec_tache.launch"/>
    <include file="$(find generateur_taches)/launch/gene_tache.launch"/>
    <include file="$(find docking)/launch/appr_finale.launch"/>
    <include file="$(find grid_maker)/launch/grid_maker.launch"/>
    <include file="$(find path_tracker)/launch/path_tracker.launch"/>
    <include file="$(find pathfinder)/launch/pathFinder.launch"/>
    <include file="$(find navigation_manager)/launch/nav_manager.launch"/>

    <include file="$(find ar_tag)/launch/alvar_camera.launch"/>
    <include file="$(find ar_tag)/launch/ar_tag.launch"/>
    <include file="$(find feu_tricolore)/launch/lecture_feu.launch"/>


    <param name="teamName" value="PYRO" />
    <param name="teamColor" value="magenta" />
    <param name="robotNumber" value="1" />
    <param name="robotName" value="R1" />
    <param name="/usb_cam_node/video_device" value="/dev/video0" />
</launch>
